<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbe</title>
    <style>
        /* FFCF00 FEEFE5 53DD6C */

        * {
            outline: none;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        ::-webkit-scrollbar {
            width: 0px;
        }


        .displayInicial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
            top: -20vh;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 6.5em;
            color: #333;
        }

        button {
            padding: 10px;
            width: 100%;
            margin-top: 5vh;
            font-size: 2.2em;
            cursor: pointer;
            background-color: #53DD6C;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049;
        }

        .main {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: flex;
            justify-content: space-around;
            display: none;
        }

        .container {
            width: 90%;
            max-width: 600px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .container-main {
            background-color: #53dd6c5d;
            padding: 20px;
            border-radius: 10px;
            width: 93%;
        }

        #input-chute {
            background-color: transparent;
            border: none;
            width: 90%;
            height: 5vh;
            padding: 20px;
            border-radius: 5px;
            font-size: 5rem;
            text-align: center;
            line-height: 20vh;
            display: flex;
            justify-content: center;
        }

        .div-controls {
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 10px 30px;
            margin-top: 10px;
            border-radius: 10px;
        }

        .my-number-container {
            font-size: 2.4rem;
        }

        #btnChecar {
            padding: 10px;
            width: 150px;
            font-size: 1.2em;
            cursor: pointer;
            background-color: #53DD6C;
            color: white;
            border: none;
            border-radius: 10px;
            transition: background-color 0.3s ease;
            margin-top: 0;
        }

        .tent-list-container {
            width: 93%;
            margin-top: 1vh;
            height: 80px;
            overflow-y: auto;
            scroll-behavior: smooth;
            max-width: 600px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .tent-list-container div {
            display: flex;
            justify-content: center;
        }

        .tent-list-container .element {
            display: flex;
            justify-content: space-between;
            padding: 2%;
        }

        .tent-list-container .element div {
            width: 20%;
            border-radius: 5px;
            border: 1px solid #45a049;
            padding: 5px;
        }

        .tent-list-container .element div:first-child {
            border-radius: 5px;
            border: 1px solid #45a049;
            padding: 5px;
        }

        .cabeçalho-chutes {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            font-size: 0.7rem;
        }

        .cabeçalho-chutes:first-child {
            margin-right: 100%;
        }

        @media (max-width: 600px) {

            .main {
                flex-direction: column;
            }

            #btnChecar {
                width: 100%;
            }

            .tent-list-container {
                width: 90%;
                margin-top: 1vh;
                margin-left: 0px;
                height: 100px;
            }
        }
    </style>
</head>

<body>
    <div class="displayInicial">
        <h1>numbe</h1>
        <button id="btnInciar">Jogar</button>
    </div>
    <div class="main">
        <div class="container">
            <!-- Primeira div com inputs -->
            <div class="container-main">
                <input type="number" id="input-chute" max="9999" min="0" oninput="limitDigits(this)">

                <div class="div-controls">
                    <div class="my-number-container">
                        <div id="random-number"></div>
                    </div>

                    <div class="button-container">
                        <button id="btnChecar">Checar</button>
                    </div>
                </div>

                <script>
                    function limitDigits(input) {
                        let value = input.value;
                        if (value.length > 4) {
                            input.value = value.slice(0, 4);  // Limita a 4 dígitos
                        }
                    }
                </script>
            </div>

            <div class="cabeçalho-chutes">
                <p>Chute</p>
                <p>Acertos</p>
                <p>Posiçoes Certas</p>
            </div>
            <div class="tent-list-container">
            </div>

            <button id="btnReiniciar">Reiniciar</button>

        </div>
    </div>

    <script>
        const displayInicial = document.querySelector(".displayInicial");
        const displayPrincipal = document.querySelector(".main");
        const botaoIniciar = document.getElementById('btnInciar');
        const divRandomNumber = document.getElementById('random-number');
        const btnChecar = document.getElementById("btnChecar");

        botaoIniciar.addEventListener('click', async () => {
            botaoIniciar.style.display = "none";
            const random_number = Math.floor(1000 + Math.random() * 9000);

            try {
                const response = await fetch('http://localhost:3000/api/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ random_number })
                });

                const dados = await response.json();
                console.log(dados);

                if (dados.status == 0) {
                    alert("Numero Máximo de Jogadores Alcançado.");
                } else {
                    localStorage.randomNumber = random_number;
                    localStorage.Key = dados.key;
                    divRandomNumber.innerText = localStorage.randomNumber;

                    displayInicial.style.display = "none";
                    displayPrincipal.style.display = "flex";
                }


            } catch (error) {
                console.error('Erro:', error);
            }
        });

        btnChecar.addEventListener('click', async () => {
            let key = localStorage.Key;
            let input = document.getElementById("input-chute");
            let chute = input.value;

            console.log("Chave atual do jogador: ", key);
            console.log("Chute dado pelo jogador: ", chute);

            const connection_time = await fetch('https://numbe-drop.vercel.app/api/game/time')
            const time = await connection_time.json();
            let newTime;

            // desatualizado :(
            if (time.time == 1) {
                newTime = 2;
            } else {
                newTime = 1;
            }

            console.log(newTime)

            const response = await fetch(`https://numbe-drop.vercel.app/api/game/time`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ time: newTime })
            });

            const dados_ = await response.json();

            try {
                const connection = await fetch(`http://localhost:3000/api/find/${key}/${chute}`);
                const dados = await connection.json();
                console.log(dados);
                localStorage.numeroExterno = dados.numeroExterno;


                if (dados.numerosContidos !== undefined) {
                    console.log(`Você acertou ${dados.numerosContidos} números!`);

                    const listaDeTentativas = document.querySelector(".tent-list-container");
                    let tentativa = document.createElement('div');


                    let numeroDoChute = document.createElement('div');
                    let acertosDoChute = document.createElement('div');
                    let acertosPosicao = document.createElement('div');

                    numeroDoChute.innerText = chute;
                    acertosDoChute.innerText = dados.numerosContidos;
                    acertosPosicao.innerText = dados.numerosMesmaPosicao;

                    tentativa.setAttribute('class', 'element');

                    tentativa.appendChild(numeroDoChute);
                    tentativa.appendChild(acertosDoChute);
                    tentativa.appendChild(acertosPosicao);

                    listaDeTentativas.insertBefore(tentativa, listaDeTentativas.firstChild);
                } else if (dados.API) {
                    console.log(dados.API);

                    const status = 2;

                    const response = await fetch(`http://localhost:3000/api/game/status`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ status: status })
                    });

                    const dados_ = await response.json();

                    alert("Parabens vc acertou!");
                }

            } catch (err) {
                console.log(err);
            }
        });

        btnReiniciar.addEventListener('click', async () => {
            let key = localStorage.Key;
            botaoIniciar.style.display = "block";

            try {
                const connection = await fetch(`http://localhost:3000/api/delete/${key}`);
                const dados = await connection.json();
                console.log(dados);

                localStorage.randomNumber = 0;
                localStorage.Key = 0;
                divRandomNumber.innerText = 0;
                location.reload();

            } catch (err) {
                console.log(err);
            }
        });

        setInterval(async () => {
            const connection_status = await fetch(`https://numbe-drop.vercel.app/api/game/status/`);
            const status = await connection_status.json();

            if (status.status == 2) {
                const isUserConfirmed = confirm("Número descoberto!");

                if (isUserConfirmed) {
                    const status = 1;

                    const response = await fetch(`http://localhost:3000/api/game/status`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ status: status })
                    });

                    const dados_ = await response.json();
                } else {
                    console.log('teste')
                }
            }

            const connection_time = await fetch('https://numbe-drop.vercel.app/api/game/time')
            const time = await connection_time.json();

            if (time.time != localStorage.Key && localStorage.Key != 0) {
                // btnChecar.disabled = true; 
                btnChecar.style.display = "none";
            } else {
                // btnChecar.disabled = false; 
                btnChecar.style.display = "block";
            }
        }, 1000);
    </script>
</body>

</html>
